@tailwind base;
@tailwind components;
@tailwind utilities;

/* font face define */

/* montserra font */
@font-face {
  font-family: montserrat;
  src: url('/public/Montserrat/Montserrat-VariableFont_wght.tt');
}

/* dancing Script font */
@font-face {
  font-family: dancing;
  src: url('/public/DancingScript-VariableFont_wght.ttf');
}

/* comforta font */
@font-face {
  font-family: comforta;
  src: url('/public/Comfortaa-VariableFont_wght.ttf');
}


/* lovers quarell font */
@font-face {
  font-family: lovers;
  src: url('/public/LoversQuarrel-Regular.ttf');
}

